@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap'
);

header {
        text-align: center;
        margin: 0 auto;
}

body {
    background-image: linear-gradient( #FF7244, #B90D54);
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Sedgwick Ave Display', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Sedgwick Ave Display', cursive;
}

h3{
    font-size: 20px;
    font-family: 'Sedgwick Ave Display', cursive;
}

p {
    font-family: 'Sedgwick Ave Display', cursive;
}

li {
    font-size: 20px;
    display: inline-block;
    zoom:1;
    *display:inline;
    font-family: 'Sedgwick Ave Display', cursive;
}

/* font-family: 'Carlito', sans-serif; */
/* #B90D54 */
/* #FF7244 */